body, html {
  height: 100%;
  background-image: url("images/IMG_0879.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#headTitle {
  text-align: center;
  color: red;
  -webkit-text-fill-color: red;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.centerDiv {
  display: flex;
  justify-content: center;
}

.margins {
  margin: 10px 20px 10px 20px;
}

.shapeForm {
  margin-top: 10%;
  background-color: green;
  border-radius: 10px;
}

.floatRight {
  float: right;
  justify-content: center;
}

.floatLeft {
  float: left;
  justify-content: center;
}

.right-answers {
  color: green;
  -webkit-text-fill-color: green;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  display: flex;
  justify-content: center;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}

.total-questions {
  color: blue;
  -webkit-text-fill-color: blue;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  display: flex;
  justify-content: center;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}

.wrong-answers {
  color: red;
  -webkit-text-fill-color: red;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  display: flex;
  justify-content: center;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}
